@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes smooth-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* Podesi visinu skoka */
  }
}

.smooth-bounce {
  animation: smooth-bounce 2s ease-in-out infinite; /* Trajanje skoka 2 sekunde */
}

.card1 {
  width: auto;
  /*height: 181px;*/
  border-radius: 16px;
  background-color: #ffffff;
  padding: 16px;
}
@media (min-width: 1024px) {
  .card1 {
    width: 630px;
    /* height: 181px;*/
  }
}
.icon1 {
  position: absolute;
}
.text1 {
  width: 166px;
  height: 32px;
  font-size: 16px;
  color: #333333;
  position: absolute;
  top: 148px;
}
.icon-small1 {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 224px;
  left: 93px;
  padding: 2px;
}
.pozadina {
  background-image: url("images/pozadinahpCo.png");
  background-size: cover;
}

.card3 {
  width: 320px;
  height: 320px;
  position: relative;
}

.card-image3 {
  object-fit: cover;
}
.card-title3 {
  font-size: 24px;
  margin-top: 20px;
}
.pakets {
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 220px;
  height: 150px;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.5s ease; /* add smooth transition */
}
.pakets-container {
  position: relative; /* Parent element remains relative */
  width: 220px;
  height: 150px;
  /* Allow overflow for expanding content */
}

.pakets:hover {
  width: 360px;
  height: auto;
  top: 0; /* ensure it stays aligned correctly */
  left: 0; /* keep aligned with its original position */
  position: absolute;
  overflow: visible;
  z-index: 1;
}
.pakets-container:last-child .pakets:hover {
  width: 360px;
  height: auto;
  top: 0;
  left: auto; /* Resetuje osnovni left */
  right: 0; /* Postavlja da se kartica otvara ulevo */
  position: absolute;
  overflow: visible;
  z-index: 1;
}

.rec {
  /* Accent */
  background: #f77000;
  color: white;
  border-bottom: 1px solid #f77000;
  border-radius: 10px;
  margin-bottom: -15px;
  z-index: 1;
}
.paketsdesc {
  padding: 5%;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}
.paketsdesc p {
  margin-bottom: 10px;
}
.paketsdesc ul {
  list-style-type: disc; /* Change to 'disc' to display as dots */
  padding: 17px;
}
.paketsdesc li {
  margin-bottom: 5px;
}
.card-footerb3 {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 30px 40px;
  gap: 8px;
  height: 47px;
  left: 32px;
  right: 32px;
  bottom: 32px;
  margin-bottom: 10%;
}
.left {
  flex: 1;
  padding: 3rem;
}
.right {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.right > div {
  flex: 1;
}
ul {
  list-style: none;
}
.belitekst {
  color: white !important;
}
.kontejner {
  background: #0e1428;
}
.bojakarticeUS {
  background: #0e162a;
}
.pozadina3 {
  background-image: url("images/pozadina3.png");
}
@media (max-width: 768px) {
  .nevidljivo-mob {
    display: none;
  }
}

.crafy {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px 160px;
  gap: 64px;
  width: 1200px;
  height: auto;
  background: linear-gradient(90deg, #00dbfe 0%, #24616b 100%);
} /*----------------paketi-----------*/
.plan-name {
  margin: 5% 18% 0%;
}
.plan-name-name {
  margin: 3% 3% 3% -10%;
  padding: 1% 5% 1% 10%;
}
.custom-li {
  background-image: url("./images/check-Icon.svg");
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 1.5em;
  list-style-type: none;
  line-height: 1.2;
}
.bluebutton {
  background-color: #00dbfe;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border: 1px solid #00dbfe;
  width: 320px;
  height: 48px;
  padding: 8px 18px;
  border-radius: 8px;
  transition: background-color 0.3s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bluebutton:hover {
  background-color: #38c3d8;
}

.text-citirano {
  font-size: 38px;
  font-weight: 400;
  line-height: 55.81px;
  letter-spacing: -0.02em;
  text-align: left;
}

.bledunjavi {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.sivkasta {
  background: #eeeeee66;
}

.plavigradijent {
  background: linear-gradient(90deg, #ebf8fe, #b3e5fc);
}

.custom-prose p {
  margin-bottom: 1rem;
}

.custom-prose ul {
  list-style-type: disc;
  padding-left: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  line-height: 1.625;
}
/*---- widgeti ---trading tools --- podesavanja-------*/

.common-iframes {
  width: 100%;

  max-width: 1200px;

  border-radius: 10px;

  overflow: hidden;

  border: none;
}

@media (max-width: 768px) {
  .currencycalculator {
    height: 400px;
  }

  .fibonacci-calculator {
    height: 1240px;
  }

  .pivot-point {
    height: 1200px;
  }

  .cfd-calculator {
    height: 870px;
  }

  .stop-loss-limit {
    height: 971px;
  }
  .economic-calendar {
    height: 971px;
  }
  .daily-signals {
    height: 744px;
  }
  .margin-calculator {
    height: 980px;
  }

  .pip-value {
    height: 950px;
  }
  .heatmap {
    height: 1400px;
  }
}

@media (min-width: 769px) {
  .currencycalculator {
    height: 380px;
  }

  .fibonacci-calculator {
    height: 560px;
  }

  .pivot-point {
    height: 800px;
  }

  .cfd-calculator {
    height: 540px;
  }

  .stop-loss-limit {
    height: 740px;
  }

  .economic-calendar {
    height: 740px;
  }

  .daily-signals {
    height: 644px;
  }

  .margin-calculator {
    height: 710px;
  }

  .pip-value {
    height: 710px;
  }

  .heatmap {
    height: 1280px;
  }
}
